<footer class="footer">
    <div class="container">
        <div class="row">             
            <div class="col-7 col-sm-5">
                <h5>Our Address</h5>
                <address>
                Am Olympiapark 1, 80809 München<br>
                Deustchland<br>
                  <i class="fa fa-phone fa-lg"></i>: +49 1234 5678<br>
                  <i class="fa fa-fax fa-lg"></i>: +49 8765 4321<br>
                  <i class="fa fa-envelope fa-lg"></i>: <a href="mailto:autoworld@mail.de" style="text-decoration: none; color: inherit;">autoworld@mail.de</a>
               </address>
            </div>
            <div class="col-12 col-sm-4 align-self-center ml-auto">
                <div class="text-center ml-auto">
                    <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-lg fa-google-plus"></i></a>
                    <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-lg fa-facebook"></i></a>
                    <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-lg fa-linkedin"></i></a>
                    <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-lg fa-twitter"></i></a>
                    <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-lg fa-youtube"></i></a>
                    <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-lg fa-envelope-o"></i></a>
                </div>
                
            </div>
       </div>
       <div class="row justify-content-center">             
            <div class="col-auto">
                <p>&copy; Copyright 2021 Auto World
                    <a href="//en.wikipedia.org/wiki/" title="Fair use of copyrighted material in the context of Porsche" style="color: black; text-decoration: none;" class="ml-5">Image Sources</a>
                </p>
                
            </div>
       </div>
    </div>
</footer>